body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 10px solid black;
    margin: 1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}

.yellow {
    background-color: yellow;
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: coral;
}