<%- include("includes/head.ejs") %>
<body>
    <h1>This is home page</h1>
    <h3>Interpolation</h3>
    <!-- interpolation syntax Example -->
    <h3><%= 3*2 %></h3>
    <h3><%= "apnacollege".toUpperCase() %></h3>

    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum tempore nobis amet voluptates corrupti ipsum in, labore veniam ipsam alias vitae provident est nam voluptas nulla adipisci veritatis quo eveniet! Molestiae reprehenderit repellat sit saepe reiciendis at alias quo, accusantium debitis sed nisi omnis necessitatibus cum fuga pariatur illum ducimus.
    </p>
    <button>click me</button>

    <%- include("includes/footer.ejs") %>
</body>
</html>