.p1 {
    color: blue;
    font-size: 30px;
    text-align: center;
}

.box {
    height: 100px;
    width: 300px;
    background-color: pink;
    border: 1px solid black;
    margin: auto;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}