body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    margin: 1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: #f99b45;
}

.red {
    background-color: #d95980;
}

.purple {
    background-color: #819ff9;
}

.green {
    background-color: #63aac0;
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: green;
}