<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Create a New List</h3>
    <form action="/listings" method="post">
        <input name="listing[title]" placeholder="Enter Title" type="text"/>
        <br><br>
        <textarea name="listing[description]" cols="30" rows="10" placeholder="Enter Description"></textarea>
        <br><br>
        <input name="listing[image]" placeholder="Enter Image URL" type="text">
        <br><br>
        <input name="listing[price]" placeholder="enter price" type="number"/>
        <br><br>
        <input name="listing[country]" placeholder="Enter country" type="text">
        <br><br>
        <input name="listing[location]" type="text" placeholder="Enter Location">
        <br><br>
        <button>Add</button>
    </form>
</body>
</html>