<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="enter username" name="username" type="text"> <br><br>
        <textarea placeholder="write your post" name="content" cols="30" rows="10"></textarea><br>
        <button>create post</button>

    </form>
</body>
</html>