<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in Detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>here is your post in detail</h2>
    <p>post id: <%= post.id %></p>
    <div class="post">
        <div>
            <h3 class="user">@<%= post.username %></h3>
            <h4><%= post.content %></h4>
        </div>
    </div>
</body>
</html>